@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightyellow;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

h3 {
  text-align: center;
}

#tooltip {
  background: #333;
}

#legend {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
